

body {
    text-align: justify;
}

.cabezera {
    background-image: url(../images/razascaballos.png);
    background-repeat: no-repeat;
    background-position: cover;
    font-size: 40px;
    text-align: center;
}



footer{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    text-shadow: 1px 15px rgb(255, 206, 206);
    font-style: oblique;
}