.container-pomodoro{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

    .title-pomodoro-clock{
        text-align: center;
        font-size: 50px;
    }

    .container-pomodoro-timer{
        display: flex;
    }

        .container-pomodoro-break{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
        }

            .text-pomodoro-control-break{
                font-size: 25px;
            }

            .container-pomodoro-control-breack{
                display: flex;
                align-items: center;
                margin-top: -40px;
            }

                .icon-pomodoro{
                    color: #FFF;
                }

                .text-pomodoro-timer-beack{
                    font-size: 25px;
                }

        .container-pomodoro-session{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px;
        }

            .text-pomodoro-control-session{
                font-size: 25px;
            }

            .container-pomodoro-control-session{
                display: flex;
                align-items: center;
                margin-top: -40px;
            }

                .text-pomodoro-timer-session{
                    font-size: 25px;
                }

    .container-pomodoro-time{
        border: 5px solid #13353A;
        border-radius: 50px;
        padding: 5px 75px;
    }

        .text-pomodoro-session{
            text-align: center;
            font-size: 30px;
        }